body {
    background-color: #b3cde0;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.jumbotron{
    margin-top: 150px;
}

h1, h2, h3 {
    color: 	#03396c;
}

p {
    color: #011f4b;
}

button {
    background-color: #6497b1;
}

.custom-navbar-bg {
    background-color: #011f4b;
    padding: 20px 0;
}

.navbar-nav .nav-link {
    font-size: 20px; 
}

.brand {
    color: #6497b1;
    font-size: large;
    padding: 10px 15px; 
    font-size: 20px; 
}

.brand:hover {
    color: lightgrey;
    text-decoration: none;
}

.btn-primary {
    background-color: #6497b1;
    border-color: #6497b1;
}

.btn-primary:hover {
    background-color: #4169e1;
    border-color: #4169e1;
}

.btn-submit {
    background-color: #6497b1;
    border-color: #6497b1;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: #4169e1;
    border-color: #4169e1;
}

.modal-content {
    background-color: #1f367a;
    color: #fff;
    border-radius: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #ffffff;
}

.modal-body {
    padding: 30px;
}

.form-group label {
    color: #fefefe;
}

.form-control {
    background-color: #343a40;
    color: #fff;
    border-color: #555;
}

.form-control:focus {
    background-color: #444;
    border-color: #ffffff;
    color: #fff;
}

.card img{
    transition: all 0.6s;
}

.card img:hover{
    transform: scale(0.9,0.9);
    cursor: pointer;
}