body {
    background-color: #b3cde0;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.jumbotron{
    margin-top: 150px;
}

h1, h2, h3 {
    color: 	#03396c;
}

p {
    color: #011f4b;
}

button {
    background-color: #6497b1;
}

.custom-navbar-bg {
    background-color: #011f4b;
    padding: 20px 0;
}

.navbar-nav .nav-link {
    font-size: 20px; 
}

.brand {
    color: #6497b1;
    font-size: large;
    padding: 10px 15px; 
    font-size: 20px; 
}

.brand:hover {
    color: lightgrey;
    text-decoration: none;
}